In [45]:
import pandas as pd
import math

In [46]:
merged_dataset_to_clean = pd.read_csv("C:\\Users\\celia\\OneDrive\\桌面\\BootCamp\\JEDHA\\fullstack\\projet\\Demoday\\2_Merge_datasets\joined_merged_final_dataset.csv", index_col=0)
display(merged_dataset_to_clean)

,Country Name,Country Code,Year,Birth Rate,GDP per Capita,Population_male,Population_female,Population_total,15_to_19_women_rate,20_to_24_women_rate,25_to_29_women_rate,30_to_34_women_rate,35_to_39_women_rate,40_to_44_women_rate,Median_age,Human Development Index,PM2.5_pollution,Female_employment_rate,Urban population rate
0,Afghanistan,AFG,2000,49.664,..,9815442,9727541,19542982,9.898899,8.404560,7.022391,5.750703,4.654414,3.754875,14.1,0.335,51.55453373,13.644,22.078
1,Angola,AGO,2000,47.647,556.884243549684,8054751,8339311,16394062,10.266795,8.441950,7.114652,6.260984,5.298651,4.237520,15.6,0.375,28.13389466,73.05,50.087
2,Albania,ALB,2000,17.076,1126.68334010717,1531486,1557540,3089027,9.699775,7.940675,7.356948,7.266261,7.168376,6.665580,26.3,0.677,24.30286936,40.674,41.741
3,Andorra,AND,2000,11.300,21620.4651019373,34285,31812,66097,5.158431,6.165912,8.702691,10.220986,10.131397,8.611530,36.6,0.818,13.6184311,..,92.395
4,United Arab Emirates,ARE,2000,16.660,31855.5006047175,2237588,1037745,3275333,12.375337,11.914193,10.863694,9.614833,7.606297,5.701591,26.1,0.796,43.64834394,32.672,80.236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3557,Vanuatu,VUT,2021,29.438,3044.57364031957,160506,158631,319137,9.363584,8.525788,8.643987,7.815962,6.216018,4.761064,19.5,0.607,..,59.035,25.665
3558,Samoa,WSM,2021,27.254,3857.68974206459,111550,107213,218764,9.481082,8.285337,7.811516,6.095781,5.310432,5.229752,20.6,0.707,..,34.883,17.742
3559,South Africa,ZAF,2021,19.821,7073.61275411821,28894608,30497646,59392255,7.590166,7.507733,8.707692,9.275422,8.003288,5.762863,27.1,0.713,..,34.612,67.847
3560,Zambia,ZMB,2021,34.511,1134.71345424991,9609004,9864121,19473125,10.995212,9.306389,7.991188,6.857783,5.784383,4.648448,16.9,0.565,..,50.605,45.192
3561,Zimbabwe,ZWE,2021,30.537,1773.92041090285,7543690,8449834,15993524,10.872244,9.649409,7.654251,7.000310,7.077696,5.205635,18.1,0.593,..,55.975,32.303

In [63]:
# check missing values
merged_dataset_to_clean.isna().sum()/len(merged_dataset_to_clean)

Country Name               0.0
Country Code               0.0
Year                       0.0
Birth Rate                 0.0
GDP per Capita             0.0
Population_male            0.0
Population_female          0.0
Population_total           0.0
15_to_19_women_rate        0.0
20_to_24_women_rate        0.0
25_to_29_women_rate        0.0
30_to_34_women_rate        0.0
35_to_39_women_rate        0.0
40_to_44_women_rate        0.0
Median_age                 0.0
Human Development Index    0.0
PM2.5_pollution            0.0
Female_employment_rate     0.0
Urban population rate      0.0
dtype: float64

In [64]:
merged_dataset_to_clean.isna().sum()

Country Name               0
Country Code               0
Year                       0
Birth Rate                 0
GDP per Capita             0
Population_male            0
Population_female          0
Population_total           0
15_to_19_women_rate        0
20_to_24_women_rate        0
25_to_29_women_rate        0
30_to_34_women_rate        0
35_to_39_women_rate        0
40_to_44_women_rate        0
Median_age                 0
Human Development Index    0
PM2.5_pollution            0
Female_employment_rate     0
Urban population rate      0
dtype: int64

In [65]:
merged_dataset_to_clean.describe()

,Year,Birth Rate,Population_male,Population_female,Population_total,15_to_19_women_rate,20_to_24_women_rate,25_to_29_women_rate,30_to_34_women_rate,35_to_39_women_rate,40_to_44_women_rate,Median_age,Human Development Index,Urban population rate
count,3562.000000,3562.000000,3.562000e+03,3.562000e+03,3.562000e+03,3562.000000,3562.000000,3562.000000,3562.000000,3562.000000,3562.000000,3562.000000,3562.000000,3562.000000
mean,2010.660584,21.961683,1.938994e+07,1.906169e+07,3.845164e+07,8.627435,8.220366,7.771607,7.194897,6.583440,5.994242,27.189528,0.689686,56.478695
std,6.311102,11.124313,7.566646e+07,7.185837e+07,1.475136e+08,2.262854,1.659036,1.328880,1.203990,1.201937,1.381376,8.877496,0.163730,23.185204
min,2000.000000,0.000000,4.769000e+03,4.822000e+03,9.609000e+03,3.950933,3.752788,4.374813,4.762584,3.819786,2.867020,13.800000,0.262000,8.246000
25%,2005.000000,11.900000,1.103403e+06,1.073449e+06,2.201371e+06,6.523563,6.859789,6.930246,6.424859,5.727872,4.765152,19.000000,0.556000,37.601750
50%,2011.000000,19.841000,4.110668e+06,4.161845e+06,8.300994e+06,9.235532,8.652713,7.743382,7.024778,6.562111,6.161611,25.800000,0.715000,57.116000
75%,2016.000000,30.392500,1.185644e+07,1.161881e+07,2.355079e+07,10.519879,9.382934,8.441140,7.703565,7.264005,6.964194,35.800000,0.817000,76.108250
max,2021.000000,52.659000,7.265034e+08,6.912196e+08,1.412360e+09,14.145452,17.614661,18.797956,15.361525,13.343381,10.852800,48.400000,0.962000,100.000000

* Check missing or unvalid value and data type for each column

In [66]:
# check unvalid value for column GDP
merged_dataset_to_clean["GDP per Capita"].value_counts(normalize=True)

GDP per Capita
..                  0.005334
2235.7337028278     0.000281
2742.25004998231    0.000281
14181.9486817352    0.000281
22103.7009703321    0.000281
                      ...
427.83632916955     0.000281
5746.64425436129    0.000281
10178.4422371206    0.000281
4079.39040357019    0.000281
1773.92041090285    0.000281
Name: proportion, Length: 3544, dtype: float64

In [68]:
merged_dataset_to_clean["GDP per Capita"].value_counts(normalize=False, ascending=False)

GDP per Capita
..                  19
2235.7337028278      1
2742.25004998231     1
14181.9486817352     1
22103.7009703321     1
                    ..
427.83632916955      1
5746.64425436129     1
10178.4422371206     1
4079.39040357019     1
1773.92041090285     1
Name: count, Length: 3544, dtype: int64

In [69]:
# check column "year" value
list(merged_dataset_to_clean.Year.unique())

[2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021]

In [70]:
# check column "country name" value
list(merged_dataset_to_clean["Country Name"].unique())

['Afghanistan',
 'Angola',
 'Albania',
 'Andorra',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'Bahrain',
 'Bosnia and Herzegovina',
 'Belarus',
 'Belize',
 'Bolivia',
 'Brazil',
 'Barbados',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Switzerland',
 'Chile',
 'China',
 "Cote d'Ivoire",
 'Cameroon',
 'Colombia',
 'Comoros',
 'Costa Rica',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Germany',
 'Djibouti',
 'Dominica',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'Ecuador',
 'Spain',
 'Estonia',
 'Ethiopia',
 'Finland',
 'Fiji',
 'France',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Guinea',
 'Equatorial Guinea',
 'Greece',
 'Guatemala',
 'Guyana',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 'India',
 'Ireland',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Cambodia',
 'Kiribati',
 'Kuwait',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Sri Lanka',
 'Lesotho',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Morocco',
 'Moldova',
 'Madagascar',
 'Maldives',
 'Mexico',
 'North Macedonia',
 'Mali',
 'Malta',
 'Myanmar',
 'Mongolia',
 'Mozambique',
 'Mauritania',
 'Mauritius',
 'Malawi',
 'Malaysia',
 'Namibia',
 'Niger',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'New Zealand',
 'Oman',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Palau',
 'Papua New Guinea',
 'Poland',
 'Portugal',
 'Paraguay',
 'Qatar',
 'Romania',
 'Rwanda',
 'Saudi Arabia',
 'Sudan',
 'Senegal',
 'Singapore',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'Serbia',
 'Sao Tome and Principe',
 'Slovenia',
 'Sweden',
 'Eswatini',
 'Seychelles',
 'Chad',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Tuvalu',
 'Tanzania',
 'Uganda',
 'Ukraine',
 'Uruguay',
 'United States',
 'Uzbekistan',
 'Samoa',
 'South Africa',
 'Zambia',
 'Zimbabwe',
 'Eritrea',
 'Grenada',
 'Montenegro',
 'Nigeria',
 'Suriname',
 'Guinea-Bissau',
 'Lebanon',
 'Turkmenistan',
 'Vanuatu',
 'Antigua and Barbuda',
 'Bhutan',
 'South Sudan',
 'Marshall Islands',
 'San Marino']

In [71]:
sorted(list(merged_dataset_to_clean["Country Name"].unique()))

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovenia',
 'Solomon Islands',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Zambia',
 'Zimbabwe']

In [72]:
len(sorted(list(merged_dataset_to_clean["Country Name"].unique())))

166

In [73]:
merged_dataset_to_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3562 entries, 0 to 3561
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country Name             3562 non-null   object
 1   Country Code             3562 non-null   object
 2   Year                     3562 non-null   int64
 3   Birth Rate               3562 non-null   float64
 4   GDP per Capita           3562 non-null   object
 5   Population_male          3562 non-null   int64
 6   Population_female        3562 non-null   int64
 7   Population_total         3562 non-null   int64
 8   15_to_19_women_rate      3562 non-null   float64
 9   20_to_24_women_rate      3562 non-null   float64
 10  25_to_29_women_rate      3562 non-null   float64
 11  30_to_34_women_rate      3562 non-null   float64
 12  35_to_39_women_rate      3562 non-null   float64
 13  40_to_44_women_rate      3562 non-null   float64
 14  Median_age               3562 non-null   float64
 15  Human Development Index  3562 non-null   float64
 16  PM2.5_pollution          3562 non-null   object
 17  Female_employment_rate   3562 non-null   object
 18  Urban population rate    3562 non-null   float64
dtypes: float64(10), int64(4), object(5)
memory usage: 556.6+ KB

In [54]:
# check all data info where GDP is unvalid with ".."
merged_dataset_to_clean[merged_dataset_to_clean['GDP per Capita'] == '..']
# Country Eritrea has missing GDP since 2012, South Sudan has missing GDP since 2016.
# The GDP per capita of Afghanistan in 2001 was $125, $181 in 2000.(https://countryeconomy.com/gdp/afghanistan?year=2001#:~:text=The%20absolute%20value%20of%20GDP%20in%20Afghanistan%20dropped,less%20than%20in%202000%2C%20when%20it%20was%20%24181.)
# the GDP per capita of Sao Tome and Principe in 2000 was $557 (https://countryeconomy.com/gdp/sao-tome-principe?year=2000)

,Country Name,Country Code,Year,Birth Rate,GDP per Capita,Population_male,Population_female,Population_total,15_to_19_women_rate,20_to_24_women_rate,25_to_29_women_rate,30_to_34_women_rate,35_to_39_women_rate,40_to_44_women_rate,Median_age,Human Development Index,PM2.5_pollution,Female_employment_rate,Urban population rate
0,Afghanistan,AFG,2000,49.664,..,9815442,9727541,19542982,9.898899,8.404560,7.022391,5.750703,4.654414,3.754875,14.1,0.335,51.55453373,13.644,22.078
129,Sao Tome and Principe,STP,2000,39.438,..,71620,72094,143714,12.508669,9.833689,7.089356,5.825728,5.106528,3.981607,16.7,0.501,34.15202995,30.797,53.424
152,Afghanistan,AFG,2001,48.979,..,9895467,9793166,19688632,9.903712,8.335022,6.997625,5.745941,4.653791,3.752311,14.1,0.337,..,13.758,22.169
1954,Eritrea,ERI,2012,32.424,..,1600542,1652054,3252596,10.929179,8.825133,7.476993,6.314017,5.432720,4.582052,17.3,0.486,44.54206936,66.846,36.372
2119,Eritrea,ERI,2013,31.719,..,1622649,1673718,3296367,11.088128,8.765186,7.384219,6.265840,5.406078,4.597280,17.3,0.483,44.70930865,66.974,36.979
2284,Eritrea,ERI,2014,31.214,..,1636349,1687076,3323425,11.161912,8.704970,7.243685,6.187005,5.352010,4.605037,17.3,0.502,39.15059178,66.603,37.590
2449,Eritrea,ERI,2015,30.417,..,1644779,1695227,3340006,11.199739,8.674473,7.077666,6.080041,5.278231,4.603602,17.3,0.483,43.06823697,66.689,38.206
2614,Eritrea,ERI,2016,29.910,..,1657572,1707716,3365287,11.157534,8.814580,6.951156,5.983635,5.210702,4.596812,17.4,0.488,41.32723515,66.574,38.827
2706,South Sudan,SSD,2016,35.150,..,5472936,5593169,11066105,9.641243,7.715706,6.886838,6.762410,6.211523,5.282712,16.6,0.402,37.94147452,60.65,19.092
2779,Eritrea,ERI,2017,29.421,..,1673563,1723370,3396933,11.098777,9.062651,6.873364,5.891393,5.153536,4.585231,17.5,0.484,43.85000214,66.665,39.451
2871,South Sudan,SSD,2017,32.651,..,5269584,5388641,10658226,9.969748,6.924612,6.189603,6.101195,5.972145,5.307525,15.7,0.395,38.66290029,60.764,19.346
2944,Eritrea,ERI,2018,29.105,..,1697963,1747412,3445374,11.165913,9.306849,6.874109,5.832568,5.123405,4.569214,17.6,0.493,43.4782267,66.601,40.080
3037,South Sudan,SSD,2018,30.147,..,5139223,5256106,10395329,10.532692,6.458374,5.675037,5.430988,5.735919,5.311527,15.3,0.395,37.97705763,60.857,19.615
3110,Eritrea,ERI,2019,28.941,..,1724860,1773958,3498818,11.331610,9.482722,6.943625,5.790752,5.101868,4.544104,17.8,0.495,44.07053957,66.526,40.712
3203,South Sudan,SSD,2019,29.058,..,5167140,5280526,10447666,11.129809,6.646127,5.440518,5.086510,5.584140,5.299027,15.4,0.393,37.55277786,60.951,19.899
3276,Eritrea,ERI,2020,28.706,..,1753513,1802355,3555868,11.550527,9.615198,7.078655,5.766899,5.080880,4.513595,18.0,0.494,..,64.55,41.347
3369,South Sudan,SSD,2020,29.166,..,5248072,5358155,10606227,11.575476,7.173989,5.298586,4.919435,5.454274,5.263266,15.8,0.386,..,59.345,20.199
3442,Eritrea,ERI,2021,28.624,..,1785840,1834472,3620312,11.750656,9.664307,7.356286,5.770434,5.064209,4.486250,18.2,0.492,..,64.876,41.985
3535,South Sudan,SSD,2021,29.107,..,5320584,5427688,10748272,11.864306,7.799638,5.221800,4.770982,5.262296,5.197333,16.1,0.385,..,59.933,20.514

In [76]:
# check if any year has much more missing value for GDP
merged_dataset_to_clean[merged_dataset_to_clean['GDP per Capita'] == '..'].groupby("Year").count()

,Country Name,Country Code,Birth Rate,GDP per Capita,Population_male,Population_female,Population_total,15_to_19_women_rate,20_to_24_women_rate,25_to_29_women_rate,30_to_34_women_rate,35_to_39_women_rate,40_to_44_women_rate,Median_age,Human Development Index,PM2.5_pollution,Female_employment_rate,Urban population rate
Year,,,,,,,,,,,,,,,,,,
2000,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2001,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2012,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2013,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2014,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2015,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2016,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2017,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2018,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2019,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2020,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2021,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2

In [47]:
# check if any country has much more missing value for GDP
merged_dataset_to_clean[merged_dataset_to_clean['GDP per Capita'] == '..'].groupby("Country Name").count()

,Country Code,Year,Birth Rate,GDP per Capita,Population_male,Population_female,Population_total,15_to_19_women_rate,20_to_24_women_rate,25_to_29_women_rate,30_to_34_women_rate,35_to_39_women_rate,40_to_44_women_rate,Median_age,Human Development Index,PM2.5_pollution,Female_employment_rate,Urban population rate
Country Name,,,,,,,,,,,,,,,,,,
Afghanistan,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Eritrea,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Sao Tome and Principe,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
South Sudan,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6

In [84]:
merged_dataset_to_clean["GDP per Capita"].value_counts(normalize=False, ascending=False, sort=False)

GDP per Capita
..                  19
556.884243549684     1
1126.68334010717     1
21620.4651019373     1
31855.5006047175     1
                    ..
3044.57364031957     1
3857.68974206459     1
7073.61275411821     1
1134.71345424991     1
1773.92041090285     1
Name: count, Length: 3544, dtype: int64

In [81]:
merged_dataset_to_clean["Population_male"].value_counts(normalize=False, ascending=False)

Population_male
10767       2
9389        2
24985511    1
5524552     1
18364145    1
           ..
24179492    1
299290      1
1296789     1
10360896    1
7543690     1
Name: count, Length: 3560, dtype: int64

In [79]:
merged_dataset_to_clean["Population_female"].value_counts(normalize=False, ascending=False)

Population_female
34895       2
53093       2
9727541     1
284406      1
5843900     1
           ..
1021632     1
6968725     1
205066      1
24266155    1
8449834     1
Name: count, Length: 3560, dtype: int64

In [56]:
# transform data type and check if column GDP has other un-numeric value other than ".."
merged_dataset_to_clean["GDP per Capita"] = pd.to_numeric(merged_dataset_to_clean["GDP per Capita"], errors="coerce")
merged_dataset_to_clean["GDP per Capita"]

0                NaN
1         556.884244
2        1126.683340
3       21620.465102
4       31855.500605
            ...
3557     3044.573640
3558     3857.689742
3559     7073.612754
3560     1134.713454
3561     1773.920411
Name: GDP per Capita, Length: 3562, dtype: float64

In [93]:
merged_dataset_to_clean["GDP per Capita"].value_counts(normalize=False, ascending=False, dropna=False)

GDP per Capita
NaN             19
2235.733703      1
2742.250050      1
14181.948682     1
22103.700970     1
                ..
427.836329       1
5746.644254      1
10178.442237     1
4079.390404      1
1773.920411      1
Name: count, Length: 3544, dtype: int64

In [57]:
# transform data type for column Pollution and check Nan
merged_dataset_to_clean["PM2.5_pollution"] = pd.to_numeric(merged_dataset_to_clean["PM2.5_pollution"], errors="coerce")
merged_dataset_to_clean["PM2.5_pollution"]

0       51.554534
1       28.133895
2       24.302869
3       13.618431
4       43.648344
          ...
3557          NaN
3558          NaN
3559          NaN
3560          NaN
3561          NaN
Name: PM2.5_pollution, Length: 3562, dtype: float64

In [21]:
merged_dataset_to_clean["PM2.5_pollution"].value_counts(normalize=False, ascending=False, dropna=False)

NaN          1610
51.554534       1
61.645825       1
67.767360       1
56.228884       1
             ...
6.995491        1
16.785995       1
40.535621       1
13.358839       1
20.834700       1
Name: PM2.5_pollution, Length: 1953, dtype: int64

In [43]:
# which country has Nan in pollution
#pd.set_option('display.max_rows', None)
#pd.reset_option('display.max_rows')
merged_dataset_to_clean[merged_dataset_to_clean['PM2.5_pollution'].isna()].groupby('Country Name').count()
# we see that almost every country has missing value for 10 years

,Country Code,Year,Birth Rate,GDP per Capita,Population_male,Population_female,Population_total,15_to_19_women_rate,20_to_24_women_rate,25_to_29_women_rate,30_to_34_women_rate,35_to_39_women_rate,40_to_44_women_rate,Median_age,Human Development Index,PM2.5_pollution,Female_employment_rate,Urban population rate
Country Name,,,,,,,,,,,,,,,,,,
Afghanistan,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,0,9,10
Albania,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,0,10,10
Algeria,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,0,10,10
Andorra,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,0,0,10
Angola,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,0,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguay,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,0,10,10
Uzbekistan,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,0,10,10
Vanuatu,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,0,6,6
Zambia,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,0,10,10
Zimbabwe,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,0,10,10

In [35]:
# then check for which years the data is missing
merged_dataset_to_clean[merged_dataset_to_clean['PM2.5_pollution'].isna()].groupby('Year').count()
# before 2010, the data was collected every five years.Plus, the data is not available for 2020 & 2021.
# data is well presented for year 2010 to 2019 (10 years)

,Country Name,Country Code,Birth Rate,GDP per Capita,Population_male,Population_female,Population_total,15_to_19_women_rate,20_to_24_women_rate,25_to_29_women_rate,30_to_34_women_rate,35_to_39_women_rate,40_to_44_women_rate,Median_age,Human Development Index,PM2.5_pollution,Female_employment_rate,Urban population rate
Year,,,,,,,,,,,,,,,,,,
2000,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2001,152,152,152,152,152,152,152,152,152,152,152,152,152,152,152,0,152,152
2002,154,154,154,154,154,154,154,154,154,154,154,154,154,154,154,0,154,154
2003,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,0,156,156
2004,157,157,157,157,157,157,157,157,157,157,157,157,157,157,157,0,157,157
2005,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2006,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,0,161,161
2007,162,162,162,162,162,162,162,162,162,162,162,162,162,162,162,0,162,162
2008,162,162,162,162,162,162,162,162,162,162,162,162,162,162,162,0,162,162
2009,162,162,162,162,162,162,162,162,162,162,162,162,162,162,162,0,162,162
2010,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2011,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2012,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2013,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2014,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2015,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2016,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2017,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2018,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2019,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
2020,166,166,166,166,166,166,166,166,166,166,166,166,166,166,166,0,166,166
2021,166,166,166,166,166,166,166,166,166,166,166,166,166,166,166,0,166,166

In [58]:
# Transform data type for column female employment rate and check Nan
merged_dataset_to_clean["Female_employment_rate"] = pd.to_numeric(merged_dataset_to_clean["Female_employment_rate"], errors="coerce")
merged_dataset_to_clean["Female_employment_rate"]

0       13.644
1       73.050
2       40.674
3          NaN
4       32.672
         ...
3557    59.035
3558    34.883
3559    34.612
3560    50.605
3561    55.975
Name: Female_employment_rate, Length: 3562, dtype: float64

In [39]:
merged_dataset_to_clean["Female_employment_rate"].value_counts(normalize=False, ascending=False, dropna=False)

NaN       206
55.912      3
48.682      3
31.407      2
55.605      2
45.731      2
38.125      2
43.734      2
54.092      2
38.301      2
45.889      2
49.439      2
47.395      2
48.936      2
52.495      2
37.366      2
56.742      2
42.559      2
50.407      2
67.883      2
49.592      2
57.887      2
53.028      2
46.750      2
43.645      2
79.116      2
30.014      2
64.516      2
43.405      2
35.862      2
56.172      2
54.877      2
47.411      2
23.166      2
52.944      2
79.890      2
40.153      2
56.445      2
47.305      2
49.603      2
45.299      2
20.525      2
46.578      2
52.455      2
55.991      2
32.897      2
59.300      2
47.099      2
56.641      2
43.415      2
45.275      2
40.176      2
50.991      2
46.781      2
49.479      2
59.410      2
35.402      2
61.941      2
40.026      2
48.172      2
72.043      2
46.982      2
58.771      2
46.097      2
36.994      2
52.100      2
51.877      2
39.598      2
57.742      2
39.088      2
40.169      2
59.474      2
49.079      2
50.827      2
37.690      2
42.328      2
29.043      2
40.804      2
45.965      2
20.712      2
50.868      2
51.566      2
57.842      2
45.973      2
69.180      2
35.476      2
34.223      2
59.391      2
45.728      2
59.399      2
44.664      2
48.613      2
55.120      2
42.023      2
42.403      2
56.067      2
41.549      2
42.130      2
54.169      2
59.942      2
39.862      1
37.863      1
51.974      1
75.893      1
23.615      1
22.624      1
59.408      1
45.553      1
62.277      1
53.931      1
48.659      1
45.187      1
49.811      1
41.310      1
61.835      1
50.687      1
46.315      1
53.564      1
39.937      1
70.587      1
25.204      1
32.059      1
46.336      1
13.744      1
48.896      1
50.365      1
48.154      1
22.262      1
38.884      1
82.286      1
36.211      1
41.237      1
31.211      1
53.891      1
11.538      1
59.354      1
59.504      1
67.007      1
25.497      1
53.772      1
60.639      1
29.911      1
38.444      1
46.711      1
55.669      1
34.556      1
50.775      1
64.332      1
54.550      1
39.295      1
61.181      1
29.244      1
47.270      1
44.697      1
41.805      1
59.674      1
49.883      1
20.276      1
34.752      1
44.536      1
54.140      1
81.771      1
22.485      1
29.413      1
46.480      1
52.152      1
47.150      1
51.294      1
46.425      1
44.504      1
46.098      1
50.705      1
54.188      1
43.410      1
47.614      1
16.372      1
19.964      1
31.143      1
58.449      1
22.304      1
47.548      1
63.375      1
43.265      1
41.356      1
24.450      1
55.503      1
40.931      1
43.812      1
47.943      1
61.822      1
52.799      1
52.066      1
50.647      1
62.583      1
54.803      1
28.378      1
58.916      1
46.452      1
36.246      1
57.615      1
58.802      1
50.268      1
45.111      1
43.572      1
30.017      1
55.146      1
62.631      1
37.085      1
47.471      1
57.411      1
41.696      1
16.224      1
68.016      1
37.037      1
34.783      1
45.762      1
43.448      1
38.193      1
32.488      1
49.617      1
46.446      1
55.016      1
52.324      1
79.544      1
47.435      1
44.261      1
60.352      1
51.975      1
64.302      1
62.652      1
47.366      1
46.397      1
30.947      1
38.664      1
34.031      1
41.616      1
37.937      1
51.390      1
48.631      1
22.764      1
48.952      1
66.574      1
10.746      1
68.742      1
55.678      1
34.604      1
48.292      1
9.709       1
64.470      1
46.192      1
49.045      1
51.173      1
53.696      1
29.267      1
45.786      1
40.700      1
49.568      1
71.749      1
52.223      1
11.404      1
40.786      1
12.477      1
45.694      1
52.829      1
66.603      1
39.231      1
41.334      1
71.941      1
51.073      1
39.317      1
46.469      1
28.384      1
77.959      1
59.629      1
57.451      1
58.902      1
41.755      1
32.462      1
60.410      1
40.513      1
50.348      1
39.462      1
51.597      1
75.238      1
23.468      1
40.936      1
61.421      1
48.645      1
48.934      1
43.597      1
61.831      1
49.733      1
45.689      1
68.003      1
54.530      1
43.195      1
37.396      1
81.818      1
32.743      1
47.916      1
62.603      1
69.257      1
64.735      1
47.260      1
22.823      1
70.444      1
25.244      1
80.066      1
39.772      1
46.441      1
49.976      1
50.561      1
58.378      1
49.434      1
52.815      1
21.858      1
55.899      1
17.567      1
57.294      1
52.012      1
23.145      1
60.614      1
29.897      1
39.360      1
46.679      1
36.512      1
59.740      1
34.952      1
50.111      1
54.621      1
39.297      1
60.730      1
29.946      1
53.102      1
47.123      1
41.641      1
48.091      1
20.293      1
77.952      1
64.497      1
35.192      1
43.442      1
53.151      1
46.889      1
59.689      1
25.999      1
22.502      1
47.349      1
47.396      1
65.459      1
46.964      1
46.212      1
52.134      1
81.855      1
55.775      1
42.646      1
47.689      1
17.248      1
38.326      1
20.089      1
31.782      1
59.798      1
10.477      1
34.739      1
46.853      1
60.145      1
55.122      1
30.432      1
44.486      1
41.384      1
45.560      1
24.567      1
55.721      1
43.197      1
52.531      1
47.403      1
55.386      1
53.268      1
43.661      1
54.646      1
58.818      1
57.362      1
44.026      1
55.843      1
59.218      1
60.817      1
44.275      1
79.839      1
57.543      1
52.180      1
52.807      1
39.735      1
51.341      1
37.090      1
37.503      1
58.886      1
47.429      1
16.893      1
57.396      1
68.010      1
44.296      1
38.946      1
47.222      1
53.113      1
56.557      1
55.513      1
52.416      1
44.980      1
59.613      1
44.159      1
64.321      1
41.596      1
50.782      1
60.780      1
44.346      1
44.974      1
30.848      1
47.413      1
46.422      1
31.974      1
37.114      1
34.390      1
42.305      1
38.938      1
48.487      1
21.767      1
59.022      1
49.964      1
11.074      1
70.239      1
54.267      1
28.443      1
46.485      1
53.032      1
51.767      1
29.334      1
44.715      1
41.269      1
49.013      1
48.129      1
52.400      1
11.491      1
42.737      1
24.389      1
13.493      1
49.544      1
66.689      1
40.203      1
52.227      1
71.851      1
50.676      1
37.776      1
52.864      1
13.644      1
40.221      1
40.281      1
55.553      1
79.763      1
43.610      1
65.998      1
55.801      1
29.534      1
42.660      1
41.125      1
23.654      1
55.074      1
56.016      1
48.049      1
47.557      1
53.586      1
61.690      1
42.255      1
59.007      1
57.938      1
43.892      1
60.837      1
49.571      1
65.694      1
52.357      1
55.623      1
49.632      1
43.804      1
52.753      1
54.433      1
65.468      1
27.206      1
48.277      1
46.489      1
18.109      1
79.430      1
62.823      1
48.104      1
52.287      1
52.226      1
41.016      1
38.329      1
38.256      1
46.134      1
57.197      1
14.484      1
68.752      1
43.211      1
42.831      1
50.290      1
29.607      1
45.695      1
36.250      1
50.724      1
39.821      1
48.980      1
24.838      1
47.787      1
10.424      1
66.847      1
54.043      1
35.025      1
47.174      1
11.141      1
46.116      1
62.178      1
69.022      1
61.027      1
46.764      1
21.338      1
70.335      1
25.429      1
30.648      1
46.985      1
37.421      1
33.338      1
40.345      1
43.470      1
50.384      1
45.931      1
51.224      1
11.246      1
53.615      1
40.856      1
13.017      1
46.222      1
66.846      1
39.688      1
50.341      1
72.023      1
52.017      1
42.068      1
46.724      1
28.246      1
52.247      1
64.301      1
48.642      1
46.162      1
31.646      1
33.363      1
36.177      1
48.828      1
25.588      1
47.306      1
46.037      1
34.380      1
38.681      1
33.011      1
37.075      1
38.491      1
50.540      1
38.858      1
48.100      1
48.096      1
29.556      1
10.609      1
65.802      1
53.148      1
34.748      1
47.296      1
11.415      1
46.130      1
62.415      1
68.950      1
62.139      1
49.852      1
64.075      1
46.380      1
52.076      1
66.369      1
48.722      1
29.780      1
40.771      1
40.171      1
52.802      1
45.565      1
50.978      1
11.175      1
54.124      1
39.823      1
12.303      1
45.025      1
66.869      1
40.940      1
49.174      1
72.035      1
51.826      1
43.513      1
46.652      1
28.172      1
46.392      1
20.854      1
70.224      1
55.589      1
21.061      1
57.814      1
24.277      1
22.034      1
43.098      1
68.534      1
46.921      1
47.031      1
47.491      1
50.753      1
43.134      1
47.444      1
16.524      1
19.676      1
29.150      1
56.137      1
81.320      1
57.275      1
43.897      1
31.663      1
60.420      1
59.795      1
41.950      1
25.271      1
54.656      1
31.588      1
47.591      1
45.899      1
47.118      1
22.574      1
37.113      1
81.305      1
33.110      1
41.060      1
30.113      1
59.392      1
32.669      1
33.717      1
52.474      1
77.792      1
23.955      1
37.194      1
64.763      1
43.690      1
41.278      1
68.408      1
47.044      1
46.741      1
52.379      1
32.709      1
34.506      1
47.287      1
10.092      1
62.529      1
69.093      1
62.251      1
46.959      1
21.824      1
70.462      1
25.261      1
46.273      1
53.179      1
47.389      1
49.154      1
47.999      1
22.383      1
82.740      1
35.112      1
42.102      1
31.512      1
59.343      1
37.943      1
54.576      1
67.796      1
10.603      1
48.408      1
46.344      1
66.974      1
38.784      1
72.032      1
51.334      1
40.698      1
46.673      1
28.333      1
52.767      1
47.304      1
64.552      1
47.342      1
46.316      1
30.157      1
38.270      1
33.676      1
40.063      1
37.109      1
51.094      1
48.505      1
23.789      1
51.067      1
35.471      1
51.419      1
19.835      1
57.094      1
81.699      1
55.224      1
39.147      1
32.716      1
60.642      1
29.884      1
38.169      1
55.411      1
34.194      1
51.436      1
54.495      1
28.551      1
47.565      1
41.940      1
48.955      1
19.706      1
78.048      1
64.429      1
47.795      1
50.821      1
30.461      1
16.390      1
76.532      1
47.539      1
23.764      1
39.497      1
63.099      1
47.588      1
46.443      1
63.084      1
49.877      1
44.426      1
54.930      1
59.597      1
22.074      1
58.444      1
25.049      1
21.969      1
46.524      1
67.492      1
46.362      1
46.844      1
54.833      1
52.524      1
43.125      1
13.780      1
11.319      1
21.964      1
29.832      1
46.515      1
46.931      1
43.506      1
46.206      1
56.623      1
51.508      1
43.459      1
47.504      1
16.554      1
19.600      1
56.943      1
51.887      1
81.546      1
56.255      1
44.833      1
31.402      1
60.361      1
29.875      1
36.852      1
47.327      1
55.117      1
33.806      1
68.336      1
45.206      1
22.006      1
24.639      1
36.566      1
83.177      1
34.112      1
42.154      1
29.877      1
59.348      1
35.445      1
51.485      1
34.691      1
77.167      1
23.896      1
37.557      1
63.913      1
45.085      1
43.000      1
64.323      1
52.274      1
43.437      1
59.960      1
21.507      1
57.496      1
54.456      1
64.952      1
27.872      1
64.360      1
29.601      1
42.823      1
41.323      1
24.135      1
55.316      1
56.996      1
47.662      1
54.931      1
42.834      1
58.992      1
58.070      1
58.126      1
44.479      1
60.542      1
51.095      1
65.001      1
50.721      1
29.450      1
40.550      1
48.176      1
46.698      1
55.465      1
43.861      1
47.888      1
79.660      1
42.108      1
48.630      1
19.229      1
78.705      1
62.932      1
47.941      1
51.843      1
52.319      1
40.636      1
37.781      1
47.542      1
57.337      1
15.339      1
68.370      1
37.823      1
44.301      1
43.596      1
49.654      1
55.378      1
52.358      1
55.779      1
45.744      1
38.590      1
51.703      1
56.532      1
40.240      1
53.500      1
41.283      1
52.182      1
49.427      1
44.465      1
58.280      1
53.923      1
59.380      1
39.517      1
53.929      1
78.000      1
63.645      1
40.619      1
38.188      1
38.208      1
50.287      1
53.647      1
10.939      1
54.294      1
42.969      1
12.198      1
55.591      1
29.738      1
40.952      1
46.845      1
45.391      1
50.330      1
54.831      1
37.981      1
59.375      1
35.336      1
37.956      1
49.481      1
56.485      1
13.700      1
66.929      1
43.289      1
57.443      1
40.744      1
52.025      1
56.368      1
52.721      1
46.695      1
54.727      1
54.439      1
33.790      1
44.754      1
64.550      1
42.184      1
11.154      1
60.275      1
67.190      1
68.838      1
42.669      1
22.353      1
69.337      1
24.323      1
31.041      1
52.915      1
53.045      1
52.043      1
19.175      1
34.975      1
80.267      1
37.872      1
39.775      1
36.660      1
48.832      1
49.640      1
43.770      1
37.970      1
51.872      1
53.549      1
53.270      1
35.774      1
70.054      1
51.089      1
35.511      1
46.600      1
26.581      1
62.211      1
39.386      1
46.936      1
44.763      1
35.138      1
34.310      1
32.215      1
40.893      1
41.254      1
50.499      1
46.005      1
51.165      1
51.982      1
7.981       1
65.285      1
55.792      1
64.797      1
20.623      1
74.532      1
10.369      1
51.807      1
46.677      1
52.105      1
22.283      1
53.612      1
8.416       1
68.806      1
57.210      1
36.669      1
56.261      1
52.122      1
46.047      1
62.499      1
68.216      1
69.601      1
25.102      1
70.482      1
25.482      1
31.629      1
52.752      1
52.640      1
36.500      1
41.904      1
43.399      1
33.252      1
36.063      1
55.048      1
11.769      1
54.932      1
47.228      1
13.372      1
51.892      1
66.526      1
43.805      1
54.511      1
71.456      1
52.327      1
36.292      1
46.977      1
28.365      1
56.390      1
49.071      1
62.966      1
40.126      1
47.549      1
46.665      1
35.075      1
81.508      1
40.319      1
43.746      1
47.216      1
58.912      1
44.099      1
40.067      1
19.312      1
36.510      1
60.338      1
81.632      1
43.817      1
41.751      1
60.951      1
30.170      1
40.814      1
50.574      1
57.028      1
35.589      1
48.188      1
54.405      1
58.584      1
29.204      1
46.603      1
41.211      1
55.256      1
45.942      1
36.629      1
45.228      1
57.052      1
48.235      1
46.082      1
42.183      1
53.017      1
75.446      1
23.228      1
41.406      1
50.203      1
45.032      1
61.836      1
49.498      1
45.524      1
57.803      1
58.547      1
24.970      1
62.915      1
28.381      1
21.956      1
49.978      1
67.476      1
50.124      1
22.844      1
52.696      1
80.865      1
43.236      1
23.380      1
69.859      1
24.776      1
31.298      1
45.335      1
53.563      1
50.744      1
18.165      1
35.458      1
39.366      1
48.156      1
42.514      1
36.609      1
51.516      1
51.035      1
39.929      1
47.401      1
74.520      1
22.807      1
40.584      1
58.976      1
69.431      1
67.849      1
60.818      1
52.185      1
55.667      1
49.609      1
62.405      1
39.117      1
45.287      1
35.600      1
34.874      1
32.958      1
42.908      1
42.076      1
50.679      1
50.189      1
50.394      1
21.403      1
54.298      1
7.839       1
64.666      1
56.804      1
35.837      1
55.979      1
10.780      1
49.889      1
44.093      1
61.418      1
59.933      1
39.015      1
51.198      1
55.376      1
34.465      1
47.601      1
58.573      1
29.319      1
45.849      1
40.811      1
43.914      1
19.615      1
75.078      1
64.036      1
42.943      1
50.006      1
52.692      1
36.958      1
59.035      1
34.883      1
34.612      1
50.605      1
29.381      1
42.747      1
48.624      1
49.597      1
45.594      1
58.947      1
24.346      1
63.563      1
27.100      1
22.324      1
47.621      1
61.287      1
42.965      1
45.567      1
48.581      1
50.112      1
54.132      1
59.600      1
39.040      1
42.181      1
21.779      1
20.174      1
36.535      1
61.738      1
81.441      1
26.873      1
35.424      1
40.433      1
58.561      1
49.804      1
40.315      1
42.087      1
59.345      1
29.256      1
38.022      1
50.170      1
55.568      1
47.540      1
53.776      1
28.841      1
51.653      1
45.433      1
40.658      1
44.472      1
19.207      1
73.268      1
63.549      1
43.780      1
47.694      1
51.051      1
36.448      1
80.785      1
59.704      1
35.938      1
19.955      1
59.042      1
49.238      1
43.821      1
61.196      1
44.311      1
57.519      1
57.748      1
24.010      1
25.860      1
21.070      1
41.777      1
55.732      1
41.364      1
45.439      1
47.089      1
49.813      1
51.413      1
59.480      1
43.298      1
43.376      1
23.334      1
58.701      1
34.737      1
36.237      1
58.611      1
58.920      1
41.768      1
58.882      1
54.698      1
63.740      1
42.301      1
29.166      1
40.028      1
39.248      1
53.063      1
50.108      1
53.707      1
11.131      1
55.089      1
44.554      1
12.652      1
50.650      1
64.876      1
43.793      1
54.612      1
70.904      1
56.251      1
45.507      1
50.866      1
50.343      1
55.699      1
66.927      1
45.140      1
49.202      1
45.326      1
51.585      1
58.146      1
59.609      1
79.784      1
47.112      1
54.741      1
55.001      1
34.305      1
46.567      1
41.353      1
32.438      1
55.918      1
41.492      1
54.312      1
43.307      1
52.757      1
51.335      1
41.615      1
45.201      1
46.518      1
71.651      1
50.558      1
36.316      1
46.501      1
28.331      1
55.356      1
49.530      1
62.898      1
42.590      1
47.466      1
33.189      1
44.180      1
37.333      1
35.148      1
40.117      1
51.915      1
45.788      1
50.092      1
19.863      1
52.155      1
7.862       1
70.621      1
54.009      1
42.252      1
66.665      1
53.389      1
55.229      1
52.904      1
44.759      1
58.984      1
57.879      1
59.424      1
45.093      1
59.653      1
53.330      1
64.352      1
50.999      1
29.487      1
41.282      1
41.559      1
50.255      1
50.416      1
54.060      1
11.611      1
54.133      1
44.878      1
13.602      1
56.675      1
53.103      1
12.045      1
75.318      1
59.729      1
49.207      1
43.362      1
61.824      1
55.706      1
58.131      1
24.281      1
62.131      1
27.340      1
21.325      1
46.995      1
66.740      1
43.678      1
46.002      1
49.005      1
53.754      1
57.231      1
44.092      1
47.785      1
15.754      1
20.355      1
40.611      1
50.823      1
49.708      1
39.499      1
62.497      1
68.945      1
67.302      1
46.491      1
23.971      1
70.361      1
25.458      1
33.871      1
46.421      1
52.618      1
51.956      1
50.913      1
20.438      1
39.109      1
81.642      1
39.645      1
41.767      1
33.181      1
57.044      1
44.141      1
46.805      1
45.659      1
55.780      1
58.970      1
49.651      1
42.231      1
39.519      1
49.723      1
75.263      1
23.300      1
40.192      1
60.573      1
48.816      1
41.637      1
61.826      1
46.643      1
27.225      1
54.860      1
58.567      1
23.830      1
61.095      1
26.397      1
21.910      1
47.416      1
65.093      1
46.670      1
46.073      1
32.510      1
42.016      1
61.156      1
81.725      1
20.798      1
51.369      1
11.424      1
71.102      1
56.427      1
35.290      1
51.276      1
11.398      1
48.821      1
62.503      1
69.330      1
65.666      1
46.583      1
23.398      1
70.297      1
25.305      1
46.481      1
51.909      1
49.979      1
50.358      1
20.819      1
46.031      1
47.526      1
52.693      1
46.240      1
53.447      1
38.995      1
59.672      1
37.820      1
47.388      1
57.048      1
18.251      1
68.043      1
43.402      1
48.774      1
43.159      1
49.389      1

In [40]:
# which country has much more missing value in Female employment rate
merged_dataset_to_clean[merged_dataset_to_clean['Female_employment_rate'].isna()].groupby('Country Name').count()
# the data for Andorra, Dominica, Kiribati, Liechtenstein, Palau, Seychells, Tuvalu are totally not available

,Country Code,Year,Birth Rate,GDP per Capita,Population_male,Population_female,Population_total,15_to_19_women_rate,20_to_24_women_rate,25_to_29_women_rate,30_to_34_women_rate,35_to_39_women_rate,40_to_44_women_rate,Median_age,Human Development Index,PM2.5_pollution,Female_employment_rate,Urban population rate
Country Name,,,,,,,,,,,,,,,,,,
Afghanistan,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1
Andorra,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,12,0,22
Antigua and Barbuda,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,10,0,15
Dominica,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,12,0,22
Grenada,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,11,0,20
Kiribati,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,12,0,22
Liechtenstein,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,0,0,22
Marshall Islands,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11,9,0,11
Myanmar,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1
Palau,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,12,0,22
San Marino,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,2,0,4
Seychelles,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,12,0,22
Tuvalu,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,12,0,22

In [59]:
merged_dataset_to_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3562 entries, 0 to 3561
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country Name             3562 non-null   object
 1   Country Code             3562 non-null   object
 2   Year                     3562 non-null   int64
 3   Birth Rate               3562 non-null   float64
 4   GDP per Capita           3543 non-null   float64
 5   Population_male          3562 non-null   int64
 6   Population_female        3562 non-null   int64
 7   Population_total         3562 non-null   int64
 8   15_to_19_women_rate      3562 non-null   float64
 9   20_to_24_women_rate      3562 non-null   float64
 10  25_to_29_women_rate      3562 non-null   float64
 11  30_to_34_women_rate      3562 non-null   float64
 12  35_to_39_women_rate      3562 non-null   float64
 13  40_to_44_women_rate      3562 non-null   float64
 14  Median_age               3562 non-null   float64
 15  Human Development Index  3562 non-null   float64
 16  PM2.5_pollution          1952 non-null   float64
 17  Female_employment_rate   3356 non-null   float64
 18  Urban population rate    3562 non-null   float64
dtypes: float64(13), int64(4), object(2)
memory usage: 556.6+ KB

* Replace NaN for columns 1.GDP, 2.Pollution & 3.Female employment rate