## 1. Import Data

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
import seaborn as sns 
import matplotlib.pyplot as plt 
from sklearn import metrics

In [13]:
df_217 = pd.read_csv('217_countries_population.csv', index_col=0)

In [4]:
df_217

,Country Name,Country Code,Year,Birth Rate,Death_Rate,Population_65_above,population_growth_rate,Population_male,Population_female,Population_total,Life_expectancy_in_years
0,Aruba,ABW,2000,14.427,6.335,6165.0,2.539234,42833,46269,89101,73.569
1,Afghanistan,AFG,2000,49.664,12.096,446519.0,1.443803,9815442,9727541,19542982,55.298
2,Angola,AGO,2000,47.647,18.287,397810.0,3.244121,8054751,8339311,16394062,46.024
3,Albania,ALB,2000,17.076,5.798,241623.0,-0.637357,1531486,1557540,3089027,75.404
4,Andorra,AND,2000,11.300,0.000,8406.0,0.670960,34285,31812,66097,0.000
...,...,...,...,...,...,...,...,...,...,...,...
4769,Kosovo,XKX,2021,11.143,7.220,177017.0,-0.229016,890237,895801,1786038,76.806
4770,"Yemen, Rep.",YEM,2021,30.544,6.845,886889.0,2.137790,16668432,16313210,32981641,63.753
4771,South Africa,ZAF,2021,19.821,11.432,3546983.0,0.998920,28894608,30497646,59392255,62.341
4772,Zambia,ZMB,2021,34.511,6.973,338624.0,2.840806,9609004,9864121,19473125,61.223
4773,Zimbabwe,ZWE,2021,30.537,9.057,537917.0,2.045715,7543690,8449834,15993524,59.253

In [5]:
df_217.describe(include='all')

,Country Name,Country Code,Year,Birth Rate,Death_Rate,Population_65_above,population_growth_rate,Population_male,Population_female,Population_total,Life_expectancy_in_years
count,4774,4774,4774.000000,4774.000000,4774.000000,4.774000e+03,4774.000000,4.774000e+03,4.774000e+03,4.774000e+03,4774.000000
unique,217,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,22,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2010.500000,21.140549,7.987881,2.578611e+06,1.317821,1.621799e+07,1.602270e+07,3.224069e+07,68.163290
std,NaN,NaN,6.344953,11.131876,3.332390,1.068247e+07,1.566314,6.599755e+07,6.277012e+07,1.287543e+08,15.243362
min,NaN,NaN,2000.000000,0.000000,0.000000,1.350000e+02,-6.852118,4.769000e+03,4.822000e+03,9.609000e+03,0.000000
25%,NaN,NaN,2005.000000,11.900000,5.829000,3.507525e+04,0.372536,3.690765e+05,3.338872e+05,7.087488e+05,63.720000
50%,NaN,NaN,2010.500000,18.231000,7.500000,3.353015e+05,1.201967,2.855405e+06,2.792258e+06,5.654036e+06,72.066427
75%,NaN,NaN,2016.000000,29.050000,9.710000,1.343373e+06,2.214310,1.017200e+07,1.028773e+07,2.053181e+07,76.936439
max,NaN,NaN,2021.000000,52.659000,21.700000,1.857219e+08,19.360429,7.265034e+08,6.912196e+08,1.412360e+09,85.497561

In [6]:
df_217.isnull().any()

Country Name                False
Country Code                False
Year                        False
Birth Rate                  False
Death_Rate                  False
Population_65_above         False
population_growth_rate      False
Population_male             False
Population_female           False
Population_total            False
Life_expectancy_in_years    False
dtype: bool

In [7]:
df_217['Birth Rate'].value_counts()

0.000     66
9.800     35
10.200    35
9.400     35
10.300    34
          ..
39.801     1
42.086     1
40.911     1
39.767     1
30.537     1
Name: Birth Rate, Length: 3354, dtype: int64

In [8]:
df_217['Life_expectancy_in_years'].value_counts()

0.000000     156
81.404878      4
73.569000      3
82.860976      3
81.451220      3
            ...
79.641463      1
63.553000      1
80.504878      1
81.434146      1
59.253000      1
Name: Life_expectancy_in_years, Length: 4318, dtype: int64

In [9]:
df_217['Death_Rate'].value_counts()

0.000     71
9.500     29
9.900     28
10.200    27
9.800     27
          ..
3.625      1
10.220     1
8.457      1
6.630      1
9.057      1
Name: Death_Rate, Length: 2983, dtype: int64

In [10]:
df_217['Population_total'].value_counts()

68742        2
34056        2
127445000    2
19372014     1
4516500      1
            ..
9547082      1
29996        1
23708320     1
3860158      1
15993524     1
Name: Population_total, Length: 4771, dtype: int64

* Delete unvalid rows which value =0

In [14]:
df = df_217.drop(df_217[(df_217['Birth Rate'] == 0.000)| (df_217['Death_Rate'] == 0.000) | (df_217['Life_expectancy_in_years'] == 0.000000)].index)

In [12]:
df

,Country Name,Country Code,Year,Birth Rate,Death_Rate,Population_65_above,population_growth_rate,Population_male,Population_female,Population_total,Life_expectancy_in_years
0,Aruba,ABW,2000,14.427,6.335,6165.0,2.539234,42833,46269,89101,73.569
1,Afghanistan,AFG,2000,49.664,12.096,446519.0,1.443803,9815442,9727541,19542982,55.298
2,Angola,AGO,2000,47.647,18.287,397810.0,3.244121,8054751,8339311,16394062,46.024
3,Albania,ALB,2000,17.076,5.798,241623.0,-0.637357,1531486,1557540,3089027,75.404
5,United Arab Emirates,ARE,2000,16.660,2.107,29399.0,5.580387,2237588,1037745,3275333,74.380
...,...,...,...,...,...,...,...,...,...,...,...
4769,Kosovo,XKX,2021,11.143,7.220,177017.0,-0.229016,890237,895801,1786038,76.806
4770,"Yemen, Rep.",YEM,2021,30.544,6.845,886889.0,2.137790,16668432,16313210,32981641,63.753
4771,South Africa,ZAF,2021,19.821,11.432,3546983.0,0.998920,28894608,30497646,59392255,62.341
4772,Zambia,ZMB,2021,34.511,6.973,338624.0,2.840806,9609004,9864121,19473125,61.223
4773,Zimbabwe,ZWE,2021,30.537,9.057,537917.0,2.045715,7543690,8449834,15993524,59.253

In [13]:
df.describe(include='all')

,Country Name,Country Code,Year,Birth Rate,Death_Rate,Population_65_above,population_growth_rate,Population_male,Population_female,Population_total,Life_expectancy_in_years
count,4618,4618,4618.000000,4618.000000,4618.000000,4.618000e+03,4618.000000,4.618000e+03,4.618000e+03,4.618000e+03,4618.000000
unique,212,212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,22,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2010.488740,21.623967,8.144531,2.665537e+06,1.355802,1.676500e+07,1.656311e+07,3.332811e+07,70.465904
std,NaN,NaN,6.343122,10.935192,3.206438,1.085079e+07,1.534997,6.703498e+07,6.375168e+07,1.307731e+08,8.827240
min,NaN,NaN,2000.000000,5.000000,0.795000,1.350000e+02,-6.852118,4.769000e+03,4.822000e+03,9.609000e+03,41.957000
25%,NaN,NaN,2005.000000,12.125750,5.961250,4.660075e+04,0.411579,5.218995e+05,4.854498e+05,1.040748e+06,64.815750
50%,NaN,NaN,2010.000000,18.795500,7.575500,3.653130e+05,1.223175,3.047855e+06,3.067532e+06,6.169620e+06,72.415000
75%,NaN,NaN,2016.000000,29.399750,9.800000,1.384682e+06,2.234410,1.070365e+07,1.084525e+07,2.157147e+07,77.094000
max,NaN,NaN,2021.000000,52.659000,21.700000,1.857219e+08,19.360429,7.265034e+08,6.912196e+08,1.412360e+09,85.497561

In [14]:
df['Life_expectancy_in_years'].value_counts()

81.404878    4
73.569000    3
82.860976    3
81.451220    3
78.539024    3
            ..
79.641463    1
63.553000    1
80.504878    1
81.434146    1
59.253000    1
Name: Life_expectancy_in_years, Length: 4317, dtype: int64

In [15]:
df['Death_Rate'].value_counts()

9.500     28
9.700     27
9.800     27
9.100     26
9.900     26
          ..
6.501      1
3.625      1
10.220     1
8.457      1
9.057      1
Name: Death_Rate, Length: 2978, dtype: int64

In [16]:
df['Birth Rate'].value_counts()

10.200    35
9.400     34
9.600     33
9.800     33
10.300    32
          ..
11.441     1
39.801     1
42.086     1
40.911     1
30.537     1
Name: Birth Rate, Length: 3349, dtype: int64

In [17]:
corr_matrix = df[['Year','Birth Rate', 'Death_Rate', 'Population_total', 'Life_expectancy_in_years']].corr()
corr_matrix

,Year,Birth Rate,Death_Rate,Population_total,Life_expectancy_in_years
Year,1.000000,-0.140697,-0.092812,0.019906,0.192056
Birth Rate,-0.140697,1.000000,0.198335,-0.044303,-0.859163
Death_Rate,-0.092812,0.198335,1.000000,-0.016224,-0.501371
Population_total,0.019906,-0.044303,-0.016224,1.000000,0.006579
Life_expectancy_in_years,0.192056,-0.859163,-0.501371,0.006579,1.000000

## 2. Preprocessing

*   We define 4 features: Country, Year, Birth rate, Death rate

In [15]:
# Separate target vatiable from features 
feature_list =['Country Name','Year','Birth Rate', 'Death_Rate']
X = df.loc[:,feature_list]
y = df.loc[:,'Population_total']

In [16]:
# split dataset into train set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0, stratify=X['Year'])

In [17]:
# Standardizing features on train set
numeric_features = ['Birth Rate', 'Death_Rate']
numeric_transformer = StandardScaler()
categorial_features = ['Country Name','Year']
categorial_transformer = OneHotEncoder(categories='auto', handle_unknown = 'ignore',drop='first')
feature_encoder = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat',categorial_transformer, categorial_features)])
X_train= feature_encoder.fit_transform(X_train)

In [21]:
print(X_train[0:5,:])

  (0, 0)	-0.6678535732027909
  (0, 1)	-0.7791738227895973
  (0, 5)	1.0
  (0, 223)	1.0
  (1, 0)	0.9184617942083184
  (1, 1)	3.204816628238733
  (1, 62)	1.0
  (1, 216)	1.0
  (2, 0)	0.4216905152644803
  (2, 1)	-1.4142121500950229
  (2, 98)	1.0
  (2, 225)	1.0
  (3, 0)	0.07487582559430289
  (3, 1)	0.5296551706922545
  (3, 133)	1.0
  (3, 215)	1.0
  (4, 0)	-1.0629438417045012
  (4, 1)	1.8697360503603973
  (4, 114)	1.0
  (4, 230)	1.0

In [22]:
#Standardzing features on Test set
X_test = feature_encoder.transform(X_test)

In [23]:
print(X_test[:5])

  (0, 0)	-0.9532932385520443
  (0, 1)	-0.9685602530785186
  (0, 26)	1.0
  (0, 219)	1.0
  (1, 0)	0.39475878817440313
  (1, 1)	-0.7672981060388069
  (1, 57)	1.0
  (1, 228)	1.0
  (2, 0)	-0.9346975222279432
  (2, 1)	1.1196907818894217
  (2, 130)	1.0
  (2, 232)	1.0
  (3, 0)	-0.6860828714712446
  (3, 1)	-0.5082199695544576
  (3, 12)	1.0
  (3, 224)	1.0
  (4, 0)	0.11490699817377142
  (4, 1)	-1.0079376296732447
  (4, 79)	1.0
  (4, 231)	1.0

## 3. Build model

In [19]:
# Train Model
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [25]:
#Prediction on Traing set
y_train_predict = regressor.predict(X_train)
print(y_train_predict[:5])

[  527145.1424497  -3952589.4652236   8494684.36945752 46346710.47421503
  3764970.93055778]

In [26]:
# Prediction on test set
y_test_predict = regressor.predict(X_test)
print(y_test_predict[:5])

[-1406888.1978389  88770069.44514641  2715081.42163979   844740.97258611
 19467100.4638059 ]

## 4. Evaluate model

In [27]:
print("R2 score on training set is :", regressor.score(X_train, y_train))
print("R2 score on test set is : ", regressor.score(X_test, y_test))

R2 score on training set is : 0.9952052302158636
R2 score on test set is :  0.9961633260433176

----------------------------------

* If we test the model on French data of 2022 and 2023

In [4]:
df_fr_22_23 = pd.read_csv("C:\\Users\\celia\\Downloads\\df_22__23.csv")

In [11]:
df_fr_22_23 = df_fr_22_23.loc[:,['Country Name', 'Year', 'Birth Rate', 'Death_Rate']]

In [12]:
df_fr_22_23

  Country Name  Year  Birth Rate  Death_Rate
0       France  2022      10.978       9.462
1       France  2023      10.914       9.510

In [18]:
FR_test = feature_encoder.transform(df_fr_22_23)

c:\Users\celia\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:227: UserWarning: Found unknown categories in columns [1] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [22]:
FR_predict = regressor.predict(FR_test)
FR_predict

array([63251795.83615987, 63261006.47323671])